* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow: scroll;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    height: 0;
    width: 10px;
    background: #0c0d2e;
}

body::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}